form.trips-filter-form
  trips-input(
    name="destination"
    label="Destination contains"
    placeholder="Destination contains"
    type="text"
    model="query.destination")
  trips-input(
    name="starts_after"
    label="Starts after"
    placeholder="Start date"
    type="date"
    model="query.starts_after")
  trips-input(
    name="ends_before"
    label="End date"
    placeholder="Ends before"
    type="date"
    model="query.ends_before")
  .btn-group
    button.btn.btn-info type="submit" ng-click="onSubmit()" Filter
    button.btn.btn-danger type="reset" ng-click="onCancel()" Cancel
    button.btn.btn-default type="button" ng-click="onClose()" Close
